Babel==1.3
Flask==0.10.1
Flask-Babel==0.9
Flask-OAuth==0.12
Genshi==0.7
Jinja2==2.7.1
MarkupSafe==0.18
WTForms==1.0.5
Werkzeug==0.9.4
amqp==1.3.3
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.13
blinker==1.3
celery==3.1.6
distribute==0.7.3
httplib2==0.8
itsdangerous==0.23
kombu==3.0.7
lxml==3.3.0beta1
oauth2==1.5.211
polib==1.0.3
proteus==3.0.0
psycopg2==2.5.1
python-dateutil==2.2
python-sql==0.2
pytz==2013.8
relatorio==0.6.0
requests==2.1.0
six==1.4.1
speaklater==1.3
trytond==3.0.1
trytond-account==3.0.1
trytond-account-es-pyme==3.0.0
trytond-account-invoice==3.0.0
trytond-account-product==3.0.0
trytond-company==3.0.0
trytond-country==3.0.0
trytond-currency==3.0.0
trytond-nereid==3.0.1.2
trytond-nereid-auth-facebook==3.0.1.0
trytond-nereid-cart-b2c==3.0.1.0
trytond-nereid-catalog==3.0.1.0
trytond-nereid-checkout==3.0.1.0
trytond-nereid-payment==3.0.1.0
trytond-party==3.0.0
trytond-product==3.0.0
trytond-product-price-list==3.0.0
trytond-sale==3.0.0
trytond-sale-price-list==3.0.0
trytond-stock==3.0.0
wsgiref==0.1.2
wtforms-recaptcha==0.2.0
